# What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side), software development, mathematics, system scripting.

# Creating Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [33]:
x = 5
y = "John"
print(x)
print(y)

5
John

# Casting

If you want to specify the data type of a variable, this can be done with casting.

In [31]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x,y,z)

3 3 3.0

# Get the Type

You can get the data type of a variable with the type() function.

In [32]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

# Global Variables

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [30]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [29]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [28]:
a = "Hello"
print(a)

Hello

# Looping Through a String

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [27]:
for x in "banana":
  print(x)

b
a
n
a
n
a

*   **String Length**

To get the length of a string, use the len() function.

In [26]:
a = "Hello, World!"
print(len(a))

13

# **Boolean Values**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

In [25]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# **List**
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# **List Length**
To determine how many items a list has, use the len() function:

In [23]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# **Access Items**
List items are indexed and you can access them by referring to the index number:

In [22]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
print(thislist[-1])
print(thislist[:2])

banana
cherry
['apple', 'banana']

# **Change Item Value**
To change the value of a specific item, refer to the index number:

In [21]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# **Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

# **Append Items**
To add an item to the end of the list, use the append() method:

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# **Extend List**
To append elements from another list to the current list, use the extend() method.

In [18]:
hislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'cherry', 'mango', 'pineapple', 'papaya']

# **Remove Specified Item**
The remove() method removes the specified item.

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# **Remove Specified Index**
The pop() method removes the specified index.

Example

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

# **List Comprehension**
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# **Sort List Alphanumerically**
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [14]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist.sort(reverse = True)
print(thislist)

[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

# **Copy a List**
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [13]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# **Tuple**
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [12]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# **Access Tuple Items**
You can access tuple items by referring to the index number, inside square brackets:

In [11]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[1:3])

banana
cherry
('banana', 'cherry')

# **Loop Through a Tuple**
You can loop through the tuple items by using a for loop.

In [9]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry
apple
banana
cherry

# **Join Two Tuples**
To join two or more tuples you can use the + operator:

In [10]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# **Set**
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [7]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

# **Access Items**
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [6]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

# **Add Items**
Once a set is created, you cannot change its items, but you can add new items.

In [5]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'apple', 'orange'}

# **Join Two Sets**
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [4]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

# **Python Conditions and If statements**

In [3]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# **Loops**

In [2]:

i = 1
while i < 6:
  print(i)
  i += 1

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

1
2
3
4
5
apple

# **Python Functions**

In [1]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes